<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Dashboard</title>
    <!-- Include any additional CSS libraries or stylesheets here -->
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
        }

        #sidebar {
            width: 180px;
            height: 80vh;
            background-color: #f1f1f1;
            padding: 20px;

        }

        #content {
            max-width: 80vw;
            flex-grow: 1;
            padding: 20px;
            overflow: auto;
        }

        #school-list {
            list-style-type: none;
            padding: 0;
        }

        .school-item {
            cursor: pointer;
            margin-bottom: 10px;
        }

        .add-school-btn {
            margin-top: 10px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        #add-school-form {
            display: none;
            margin-top: 20px;
        }

        .add-student-form {
            margin-top: 10px;
        }

        .add-student-btn {
            margin-top: 10px;
            padding: 5px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        #teamTopic, #individualInterest {
            width: 100%;
            height: 80px;
        }

        img {
            max-width: 50%;
            height: auto;
            margin-bottom: 10px;
        }

        .save-btn {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .save-btn:hover {
            background-color: #45a049;
        }

        .download-btn {
            padding: 10px;
            background-color: #4c87af;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .download-btn:hover {
            background-color: #0b74b9;
        }

        .del-btn {
            padding: 10px;
            background-color: #af4c5b;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .del-btn:hover {
            background-color: #af3243;
        }

        .ui-btn {
            padding: 10px;
            background-color: lightgray;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .ui-btn:hover {
            background-color: grey;
        }

        #school-info {
            display: none;
        }

        .image-cell {
            width: 600px;
            padding: 5px;
            margin: 10px;
            background: lightgray;
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <ul id="school-list"></ul>
        <button class="add-school-btn" onclick="showAddSchoolForm()">Add School</button>
    </div>
    <div id="content">
        <div id="add-school-form">
            <form id="school-form" method="post" onsubmit="submitForm(event)">
                <label for="school-name">학교명:</label>
                <input type="text" id="school-name" name="school-name" required>
                <br>
                <label for="field">분야:</label>
                <input type="text" id="field" name="field" required>
                <br>
                <div id="student-list" class="add-student-form">
                    <!-- Dynamic input fields for students will be added here -->
                </div>
                <button type="button" class="add-student-btn" onclick="addStudentField()">Add Student</button>
                <br>
                <input class="save-btn" type="submit" value="Submit">
            </form>
        </div>
            <div id="school-info">
                <h2><span id="headerSchoolName"></span></h2>
                <button class="ui-btn" id="collapseButton" onclick="collapseSchoolInfo()"> < 접기</button>
                <button class="ui-btn" id="metadataSectionButton" onclick="collapseSection('metadataSection')"> 수업 정보 섹션 <span id="metadataSectionSuffix">접기</span></button>
                <button class="ui-btn" id="attendanceSectionButton" onclick="collapseSection('attendanceSection')"> 출결 상황 섹션 <span id="attendanceSectionSuffix">접기</span></button>
                <button class="ui-btn" id="attendanceSectionButton" onclick="collapseSection('screenshotSection')"> 수업 사진 섹션 <span id="screenshotSectionSuffix">접기</span></button>
                <button class="del-btn" id="deleteButton" onclick="deleteSchool()"> 학교 삭제 </button>
                <section id="metadataSection">
                    <h2>수업 기본 정보</h2>
                    <form id="classMetadataForm" action="/metadata" method="post">
                        <input type="hidden" id="schoolName" name="schoolName" required>

                        <label for="className">분야 (팀 이름):</label>
                        <input type="text" id="className" name="className" required>
                        <br>
                        <label for="mentorName">멘토 이름:</label>
                        <input type="text" size="50" id="mentorName" name="mentorName" placeholder="XX대학교 XX과 XXX멘토" required>

                        <h3>Teaching Plan</h3>
                        <table>
                            <tr>
                                <th>차시</th>
                                <th>수업 개요</th>
                                <th>세부 내용</th>
                            </tr>
                            <!-- Repeat rows for each class -->
                            <tr>
                                <td>1차시</td>
                                <td><input size="60" type="text" id="classOverview1" name="classOverview1"></td>
                                <td><textarea cols="60" rows="5" id="classDetails1" name="classDetails1"></textarea></td>
                            </tr>
                            <tr>
                                <td>2차시</td>
                                <td><input size="60" type="text" id="classOverview2" name="classOverview2"></td>
                                <td><textarea cols="60" rows="5" id="classDetails2" name="classDetails2"></textarea></td>
                            </tr>
                            <tr>
                                <td>3차시</td>
                                <td><input size="60" type="text" id="classOverview3" name="classOverview3"></td>
                                <td><textarea cols="60" rows="5" id="classDetails3" name="classDetails3"></textarea></td>
                            </tr>
                            <tr>
                                <td>4차시</td>
                                <td><input size="60" type="text" id="classOverview4" name="classOverview4"></td>
                                <td><textarea cols="60" rows="5" id="classDetails4" name="classDetails4"></textarea></td>
                            </tr>
                            <tr>
                                <td>5차시</td>
                                <td><input size="60" type="text" id="classOverview5" name="classOverview5"></td>
                                <td><textarea cols="60" rows="5" id="classDetails5" name="classDetails5"></textarea></td>
                            </tr>
                            <tr>
                                <td>6차시</td>
                                <td><input size="60" type="text" id="classOverview6" name="classOverview6"></td>
                                <td><textarea cols="60" rows="5" id="classDetails6" name="classDetails6"></textarea></td>
                            </tr>
                            <tr>
                                <td>7차시</td>
                                <td><input size="60" type="text" id="classOverview7" name="classOverview7"></td>
                                <td><textarea cols="60" rows="5" id="classDetails7" name="classDetails7"></textarea></td>
                            </tr>
                            <tr>
                                <td>8차시</td>
                                <td><input size="60" type="text" id="classOverview8" name="classOverview8"></td>
                                <td><textarea cols="60" rows="5" id="classDetails8" name="classDetails8"></textarea></td>
                            </tr>
                            <tr>
                                <td>오프라인</td>
                                <td><input size="60" type="text" id="classOverviewOffline" name="classOverviewOffline"></td>
                                <td><textarea cols="60" rows="5" id="classDetailsOffline" name="classDetailsOffline"></textarea></td>
                            </tr>
                        </table>
                        <label for="teamTopic">팀 주제:</label>
                        <textarea id="teamTopic" name="teamTopic" required></textarea>

                        <label for="individualInterest">개별 관심 분야:</label>
                        <textarea id="individualInterest" name="individualInterest" required></textarea>

                        <input type="submit" class="save-btn" value="수업 정보 저장하기">
                    </form>
                </section>

                <section id="attendanceSection">
                    <h2>출결 현황 <button class="ui-btn" id="newStudentButton" onclick="addStudent()">학생 추가하기</button></h2>
                    <form id="AttendanceForm" method="post">

                        <input type="hidden" id="schoolNameAttendance" name="schoolName">
                        <table id="AttendanceTable">

                        </table>

                        <input type="submit" class="save-btn" id="saveAttendanceButton" value="출결 저장하기">
                    </form>
                </section>

                <section id="screenshotSection">
                    <h2>수업 사진</h2>
                    <form id="classScreenshotForm">
                        <div class="image-cell">
                            <label for="fileInput1">1차시:</label>
                            <input type="file" accept="image/*" name="screenshot1" id="fileInput1" onchange="previewImage(1)">
                            <button type="button" onclick="setActiveCell(1)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(1)">이미지 삭제하기</button>
                            <div id="preview1" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput2">2차시:</label>
                            <input type="file" accept="image/*" name="screenshot2" id="fileInput2" onchange="previewImage(2)">
                            <button type="button" onclick="setActiveCell(2)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(2)">이미지 삭제하기</button>
                            <div id="preview2" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput3">3차시:</label>
                            <input type="file" accept="image/*" name="screenshot3" id="fileInput3" onchange="previewImage(3)">
                            <button type="button" onclick="setActiveCell(3)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(3)">이미지 삭제하기</button>
                            <div id="preview3" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput4">4차시:</label>
                            <input type="file" accept="image/*" name="screenshot4" id="fileInput4" onchange="previewImage(4)">
                            <button type="button" onclick="setActiveCell(4)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(4)">이미지 삭제하기</button>
                            <div id="preview4" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput5">5차시:</label>
                            <input type="file" accept="image/*" name="screenshot5" id="fileInput5" onchange="previewImage(5)">
                            <button type="button" onclick="setActiveCell(5)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(5)">이미지 삭제하기</button>
                            <div id="preview5" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput6">6차시:</label>
                            <input type="file" accept="image/*" name="screenshot6" id="fileInput6" onchange="previewImage(6)">
                            <button type="button" onclick="setActiveCell(6)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(6)">이미지 삭제하기</button>
                            <div id="preview6" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput7">7차시:</label>
                            <input type="file" accept="image/*" name="screenshot7" id="fileInput7" onchange="previewImage(7)">
                            <button type="button" onclick="setActiveCell(7)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(7)">이미지 삭제하기</button>
                            <div id="preview7" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput8">8차시:</label>
                            <input type="file" accept="image/*" name="screenshot8" id="fileInput8" onchange="previewImage(8)">
                            <button type="button" onclick="setActiveCell(8)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(8)">이미지 삭제하기</button>
                            <div id="preview8" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput9">오프라인 1:</label>
                            <input type="file" accept="image/*" name="screenshot9" id="fileInput9" onchange="previewImage(9)">
                            <button type="button" onclick="setActiveCell(9)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(9)">이미지 삭제하기</button>
                            <div id="preview9" class="image-preview"></div>
                        </div>
                        <div class="image-cell">
                            <label for="fileInput10">오프라인 2:</label>
                            <input type="file" accept="image/*" name="screenshot10" id="fileInput10" onchange="previewImage(10)">
                            <button type="button" onclick="setActiveCell(10)">이미지 붙여넣기</button>
                            <button type="button" onclick="delCellImage(10)">이미지 삭제하기</button>
                            <div id="preview10" class="image-preview"></div>
                        </div>

                        <br>
                        <button class="save-btn" type="button" onclick="saveClassScreenshots()">수업 사진 서버에 저장하기</button>
                        <button class="download-btn" type="button" onclick="exportToDocx()">수업보고서 Docx 파일로 내보내기</button>
                    </form>
                    <form id="exportForm" method="post" style="display: none;">
                        <input type="hidden" id="schoolNameExport" name="school_name" value="">
                        <input type="hidden" id="fileNameExport" name="file_name" value="">
                    </form>
                </section>

                <section id="reportSection">
                    <h2>제출 자료 관리 <button class="ui-btn" id="finalReportModifyButton" onclick="finalReportModify()">최종보고서 수합하기</button></h2>
                        <h3> 학생 가입 링크 : <span id="studentRegisterLink"></span> <button class="ui-btn" id="copyButton" onclick="copyToClipboard()">클립보드로 복사하기</button></h3>

                        <table id="reportTable">
                        </table>
                        <h3>학번 : <span id="studentNumEval"></span></h3>
                        <h3>이름 : <span id="studentNameEval"></span></h3>
                        <label for="reportTopic">활동 주제: </label>
                        <input type="text" size="90" id="reportTopic"><br>
                        <label for="self-eval-preview">멘티 작성란: </label><br>
                        <strong>멘티 작성 글자 수 (공백 포함) : <span id="totalCharMentee"></span> 자</strong><br>
                        <textarea id="self-eval-preview" cols="90" rows="10"></textarea><br>
                        <label for="self-eval-rev">멘토 수정란: </label><br>
                        <strong>멘토 작성 글자 수 (공백 포함) : <span id="totalCharMentor"></span> 자</strong><br>
                        <select id="classAttitude">
                            <option value="상">상</option>
                            <option value="중">중</option>
                            <option value="하">하</option>
                        </select>
                        <input type="text" size="90" id="classAttitudeDetail" value="" placeholder="수업 태도 관련 상세 내용 작성"><br>
                        <textarea id="self-eval-rev" cols="90" rows="10"></textarea><br>
                        <button class="save-btn" id="saveEvalButton" onclick="saveSelfEvalRev()"> 수정본 서버에 저장하기 </button>
                        <button class="download-btn" id="exportEvalButton" onclick="exportSelfEvalRev()" style="display: none"> 수정본 Docx 파일로 저장하기 </button>
                </section>
                </div>
    </div>

    <!-- Include any additional JS libraries or scripts here -->
    <script>
        const currentPath = window.location.pathname;
        const uuid = currentPath.split('/').pop();
        let school_id = '';
        let expanded = {
            'metadataSection' : true,
            'attendanceSection' : true,
            'screenshotSection' : true
        };
        let activeCell = 1;

        async function fetchSchools() {
            const response = await fetch('/school/' + uuid, {
                method: 'GET'
            });

            const data = await response.json();
            const schoolList = document.getElementById('school-list');
            schoolList.innerHTML = '';

            data.forEach(school => {
                const schoolItem = document.createElement('li');
                schoolItem.classList.add('school-item');
                schoolItem.textContent = school;
                schoolItem.addEventListener('click', () => showSchoolDetails(school));
                schoolList.appendChild(schoolItem);
            });
        }

        function showAddSchoolForm() {
            document.getElementById('add-school-form').style.display = 'block';
            document.getElementById('school-form').action = "/school/" + uuid;
            document.getElementById('school-info').style.display = 'none';
        }

        let studentCounter = 1;

        function addStudentField() {
            const studentList = document.getElementById('student-list');
            const studentInput = document.createElement('div');
            studentInput.innerHTML = `
                <label for="student-number-${studentCounter}">학번:</label>
                <input type="text" name="student-number-${studentCounter}" required>
                <label for="student-name-${studentCounter}">이름:</label>
                <input type="text" name="student-name-${studentCounter}" required>
            `;
            studentList.appendChild(studentInput);
            studentCounter++;
        }

        async function submitForm(event) {
            event.preventDefault();
            studentCounter = 1;
            const form = document.getElementById('school-form');
            const formData = new FormData(form);

            const response = await fetch(form.action, {
                method: 'POST',
                body: formData
            });

            // Handle the response as needed (e.g., show success message, update UI)
            console.log(response);

            // Clear the form and hide it
            form.reset();
            document.getElementById('add-school-form').style.display = 'none';

            // Fetch and update the school list
            fetchSchools();
        }

        function showSchoolDetails(school) {
            document.getElementById('school-info').style.display = 'block';
            document.getElementById('classMetadataForm').action = '/metadata/' + uuid;
            document.getElementById('AttendanceForm').action = '/attendance/' + uuid;
            document.getElementById('classMetadataForm').reset();
            document.getElementById('schoolName').value = school;
            document.getElementById('schoolNameAttendance').value = school;
            document.getElementById('headerSchoolName').innerText = school;
            let studentCounter = 1;

            fetch('/students/' + uuid, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'school_name': school})
            })
            .then(response => response.json())
            .then(data => {
                // Populate the student list dynamically
                const attendanceTable = document.getElementById('AttendanceTable');
                const reportTable = document.getElementById('reportTable');

                // Clear existing rows
                attendanceTable.innerHTML = '';
                reportTable.innerHTML = '';

                // Create table header row
                const tableHeaderRow = document.createElement('tr');
                tableHeaderRow.innerHTML = '<th>학번</th><th>이름</th>';

                const reportTableHeaderRow = document.createElement('tr');
                reportTableHeaderRow.innerHTML = `
                            <th>학번</th>
                            <th>이름</th>
                            <th>등록 여부</th>
                            <th>비밀번호</th>
                            <th>최종보고서</th>
                            <th>최종보고서 글자 수</th>
                            <th>자기활동평가서</th>
                            <th>자기활동평가서 수정(멘토)</th>
                            <th></th>
                            `;
                // Add columns for each class session (1차시 to 9차시)
                for (let i = 1; i <= 9; i++) {
                    tableHeaderRow.innerHTML += `<th>${i}차시<br><textarea rows="3" cols="8" id='time-${i}' name='time-${i}' placeholder="10/25\n20-22\n(2h)"></textarea></th>`;
                }

                attendanceTable.appendChild(tableHeaderRow);
                reportTable.appendChild(reportTableHeaderRow);

                // Iterate through students and add rows to the table
                data.forEach(student => {
                    const studentNumber = Object.keys(student)[0];
                    const studentName = student[studentNumber];

                    const tableRow = document.createElement('tr');
                    const reportTableRow = document.createElement('tr');
                    tableRow.id = "row-" + studentNumber
                    reportTableRow.id = "report-" + studentNumber
                    tableRow.innerHTML = `
                            <td><input type="text" size="5" name="student-number-${studentNumber}" value="${studentNumber}"></td>
                            <td><input type="text" size="8" name="student-name-${studentNumber}" value="${studentName}"><br>
                                <button id="student-del-${studentNumber}" onclick="deleteStudent('${studentNumber}', '${studentName}')">학생 삭제</button></td>
                            `;
                    reportTableRow.innerHTML = `
                        <td>${studentNumber}</td>
                        <td>${studentName}</td>
                        <td id="isRegistered-${studentNumber}"></td>
                        <td id="studentPassword-${studentNumber}"></td>
                        <td id="isFinalReport-${studentNumber}"></td>
                        <td id="finalReportChar-${studentNumber}"></td>
                        <td id="isSelfEval-${studentNumber}"></td>
                        <td id="isSelfEvalRev-${studentNumber}"></td>
                        <td><button id="revButton-${studentNumber}" onclick="viewRev('${studentNumber}', '${studentName}')">자기활동평가서 수정하기</button></td>
                        `;
                    // Add columns for each class session with radio boxes and dropdowns
                    for (let i = 1; i <= 9; i++) {
                        tableRow.innerHTML += `
                            <td>
                                <input type="radio" id="attendance-${studentNumber}-${i}-출석" name="attendance-${studentNumber}-${i}" value="출석"> 출석 <br>
                                <input type="radio" id="attendance-${studentNumber}-${i}-결석" name="attendance-${studentNumber}-${i}" value="결석"> 결석 <br>
                                <input type="radio" id="attendance-${studentNumber}-${i}-지각" name="attendance-${studentNumber}-${i}" value="지각"> 지각 <br>
                                <select id="reason-${studentNumber}-${i}" name="reason-${studentNumber}-${i}">
                                    <option value="없음">없음</option>
                                    <option value="개인">개인</option>
                                    <option value="질병">질병</option>
                                    <option value="무단">무단</option>
                                    <option value="기타">기타</option>
                                    <!-- Add more reasons as needed -->
                                </select>
                            </td>`;
                    }

                    attendanceTable.appendChild(tableRow);
                    reportTable.appendChild(reportTableRow);
                    studentCounter++;
                });
            })
            .catch(error => console.error('Error fetching student data:', error));
            fetch('/classdata/' + uuid, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'school_name': school})
            }).then(response => response.json())
                .then(response => {
                    selectedImages = {};
                    school_id = response['school_id']
                    document.getElementById('studentRegisterLink').innerText = window.location.origin + '/student_login?mentor_code=' + uuid + '&school_code=' + school_id;
                    for (let i = 1; i <= 8; i++) {
                        document.getElementById(`preview${i}`).innerHTML = '';
                    }
                    if (Object.keys(response.class_info).length != 0) {
                        Object.keys(response.class_info).forEach(key => {
                            document.getElementById(key).value = response.class_info[key];
                        });
                    }

                    if (Object.keys(response.attendance).length != 0) {
                        Object.keys(response.attendance).forEach(key => {
                            if (key.split('-')[0] === "attendance") {
                                document.getElementById(key + '-' + response.attendance[key]).checked = true;
                            } else if (key.split('-')[0] === "reason" || key.split('-')[0] === "time") {
                                document.getElementById(key).value = response.attendance[key];
                            }
                        });
                    }

                    if (Object.keys(response.class_screenshot).length != 0) {
                        selectedImages = response.class_screenshot;
                        Object.keys(response.class_screenshot).forEach(key => {
                            const previewDiv = document.getElementById('preview' + key)
                            const previewImage = document.createElement('img');
                            previewImage.src = response.class_screenshot[key];
                            previewDiv.innerHTML = ''; // Clear previous content
                            previewDiv.appendChild(previewImage);
                        });
                    }
                    if (Object.keys(response.report_status).length != 0) {
                        Object.keys(response.report_status).forEach(key => {
                            document.getElementById('isRegistered-' + key).innerText = response.report_status[key]['registered'];
                            document.getElementById('studentPassword-' + key).innerText = response.report_status[key]['password'];
                            document.getElementById('isFinalReport-' + key).innerText = response.report_status[key]['final_report'];
                            document.getElementById('finalReportChar-' + key).innerText = response.report_status[key]['final_report_char'];
                            document.getElementById('isSelfEval-' + key).innerText = response.report_status[key]['self_evaluation'];
                            document.getElementById('isSelfEvalRev-' + key).innerText = response.report_status[key]['self_evaluation_revised'];
                        })
                    }
                })
        }

        document.addEventListener('submit', function(event) {
            event.preventDefault();
            alert('저장 완료!');
            console.log("YOLO!");
            fetch(event.target.action, {
                method: 'POST',
                body: new FormData(event.target)
            }).then(response => console.log(response));

        })

        function collapseSchoolInfo() {
            document.getElementById('school-info').style.display = 'none';
        }

        function collapseSection(section) {
            if (expanded[section]) {
                document.getElementById(section).style.display = 'none';
                document.getElementById(section + 'Suffix').innerText = "열기";
                expanded[section] = false;
            } else {
                document.getElementById(section).style.display = 'block';
                document.getElementById(section + 'Suffix').innerText = "접기";
                expanded[section] = true;
            }
        }

        // Section 3: Class Screenshot
let selectedImages = {};

function previewImage(cell) {
    const fileInput = document.getElementById(`fileInput${cell}`);
    const previewDiv = document.getElementById(`preview${cell}`);
    activeCell = cell;
    const file = fileInput.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
            const previewImage = document.createElement('img');
            previewImage.src = e.target.result;
            previewDiv.innerHTML = ''; // Clear previous content
            previewDiv.appendChild(previewImage);

            // Update the selectedImages object
            selectedImages[cell] = e.target.result;
        };
        reader.readAsDataURL(file);
    }
}

function handleClipboardPaste(cell) {
    const previewDiv = document.getElementById(`preview${cell}`);
    activeCell = cell;
    // Use a Clipboard API or external library to handle clipboard image paste
    navigator.clipboard.read().then(data => {
        const clipboardImage = data[0];
        if (clipboardImage && clipboardImage.type.startsWith('image/')) {
            const previewImage = document.createElement('img');
            previewImage.src = URL.createObjectURL(clipboardImage);
            previewDiv.innerHTML = ''; // Clear previous content
            previewDiv.appendChild(previewImage);

            // Update the selectedImages object
            selectedImages[cell] = clipboardImage;

            clipboardInput.value = ''; // Clear the clipboard text input
        }
    });
}

function saveClassScreenshots() {
    selectedImages.school_name = document.getElementById('schoolName').value;
    console.log(selectedImages);
    fetch('/screenshots/' + uuid, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(selectedImages)
        })
        .then(response => response.json())
        .then(response => {
            alert("저장되었습니다!");
        })
}

// Helper function to convert image URL to base64
function getBase64Image(url) {
    const canvas = document.createElement('canvas');
    const ctx = canvas.getContext('2d');
    const img = new Image();

    img.crossOrigin = 'Anonymous';

    return new Promise((resolve, reject) => {
        img.onload = () => {
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, 0, 0);

            // Resolve with the base64 string
            resolve(canvas.toDataURL());
        };

        img.onerror = reject;

        // Set the image source (cross-origin)
        img.src = url;
    });
}

function setActiveCell(cell) {
    activeCell = cell; // Set the active cell when the button is clicked
}

document.onpaste = function(pasteEvent) {
    // Use the activeCell variable to determine the cell number
    const cell = activeCell;

    var item = pasteEvent.clipboardData.items[0];

    if (item.type.indexOf("image") === 0) {
        var blob = item.getAsFile();
        var reader = new FileReader();
        reader.onload = function(event) {
            const dataURL = event.target.result;

            // Update the selectedImages object with base64 string and cell number
            selectedImages[cell] = dataURL;

            // Display the pasted image in the preview div
            const previewDiv = document.getElementById(`preview${cell}`);
            const previewImage = document.createElement('img');
            previewImage.src = dataURL;
            previewDiv.innerHTML = ''; // Clear previous content
            previewDiv.appendChild(previewImage);
        };

        reader.readAsDataURL(blob);
    }
};

        function delCellImage(cell) {
            const previewDiv = document.getElementById(`preview${cell}`);
            previewDiv.innerHTML = '';
            delete selectedImages[`${cell}`];
        }

        function exportToDocx() {
            const name = prompt("파일 이름을 입력해주세요 (확장자 제외)");
            if (!name) {
                alert('File name cannot be empty.');
                return;
            }
            const exportForm = document.getElementById('exportForm');
            exportForm.action = '/export/' + uuid;
            document.getElementById('schoolNameExport').value = document.getElementById('schoolName').value;
            document.getElementById('fileNameExport').value = name;
            exportForm.submit();
        }

        function deleteSchool() {
            let school_name = document.getElementById('schoolName').value;
            fetch('/delete_school/' + uuid, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'school_name' : school_name})
            })
            .then(response => response.json())
            .then(response => {
                alert("삭제되었습니다!");
                window.location.reload();
            })
        }

        function viewRev(studentNum, studentName) {
            document.getElementById('studentNumEval').innerText = studentNum;
            document.getElementById('studentNameEval').innerText = studentName;
            document.getElementById('exportEvalButton').style.display = 'block';
            const data = {
                "school_name": document.getElementById('schoolName').value,
                "student_number": studentNum
            }

            fetch('/student_id/' + uuid, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => response.json())
                .then(response => {
                    let student_id = response.student_id;
                    let query_string = '?mentor_code=' + uuid + '&school_code=' + school_id + '&student_code=' + student_id;
                    console.log(student_id);
                    fetch('/final_report' + query_string, {
                        method: 'GET',
                    }).then(response => response.json())
                        .then(response => {
                            document.getElementById('self-eval-preview').value = response['eval'];
                            document.getElementById('totalCharMentee').innerText = response['eval'].length;
                            document.getElementById('totalCharMentor').innerText = response.eval_revised['text'].length;
                            document.getElementById('classAttitude').value = response.eval_revised.class_attitude;
                            document.getElementById('self-eval-rev').value = response.eval_revised.text;
                            document.getElementById('classAttitudeDetail').value = response.eval_revised.class_attitude_detail;
                            document.getElementById('reportTopic').value = response.eval_revised.report_topic;
                        })

                })

        }

        function saveSelfEvalRev() {
            let revisedText = document.getElementById('self-eval-rev').value;
            let classAttitude = document.getElementById('classAttitude').value;
            let classAttitudeDetail = document.getElementById('classAttitudeDetail').value;
            let studentNum = document.getElementById('studentNumEval').innerText;
            const mentorText = {
                "text": revisedText,
                "class_attitude": classAttitude,
                "class_attitude_detail": classAttitudeDetail,
                "report_topic": document.getElementById('reportTopic').value
            };
            const data = {
                "school_name": document.getElementById('schoolName').value,
                "student_number": studentNum,
                "type": "eval_revised",
                "content": mentorText,
            };

            fetch('/student_id/' + uuid, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => response.json())
                .then(response => {
                    let student_id = response.student_id;
                    let query_string = '?mentor_code=' + uuid + '&school_code=' + school_id + '&student_code=' + student_id;
                    console.log(student_id);
                    fetch('/final_report' + query_string, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(response => response.json())
                        .then(response => {
                            alert(response.message);
                        })

                })
        }

        function finalReportModify() {
            window.location.href = '/final_report_modify?mentor_code=' + uuid + '&school_name=' + document.getElementById('schoolName').value + '&school_code=' + school_id;
        }

        function exportSelfEvalRev() {
            const studentNum = document.getElementById('studentNumEval').innerText;
            const studentName = document.getElementById('studentNameEval').innerText;
            const queryString = '?mentor_code=' + uuid + '&school_code=' + school_id;

            const data = {
                student_num: studentNum,
                student_name: studentName,
            };
            fetch('/export_self_eval' + queryString, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {

                    const contentDisposition = response.headers.get('Content-Disposition');
                    const filename = getFileNameFromHeader(contentDisposition);

                    if (!filename) {
                        throw new Error('Filename not found in Content-Disposition header');
                    }
                    // Create a link element
                    response.blob().then(blob => {
                        const link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = filename;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    });
                })
        }

            function getFileNameFromHeader(header) {
            const matches = header.match(/filename\*?=(.*''){0,1}([^;\r\n]*)/);
            if (matches && matches.length > 2) {
                return decodeURIComponent(matches[2]);
            }
            return null;
        }

        function copyToClipboard() {
            const link = document.getElementById('studentRegisterLink').innerText;
            const tempInput = document.createElement("input");
            document.body.appendChild(tempInput);
            tempInput.value = link;
            tempInput.select();
            tempInput.setSelectionRange(0, 99999);
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            alert('클립보드에 복사되었습니다!')
        }

        function deleteStudent(studentNumber, studentName) {
            let yay = confirm("정말로 " + studentNumber + " " + studentName + " 학생을 삭제하시겠습니까?");
            if (yay) {
                document.getElementById('AttendanceTable').removeChild(document.getElementById('row-' + studentNumber.toString()));
                document.getElementById('reportTable').removeChild(document.getElementById('report-' + studentNumber.toString()));
                const queryString = '?mentor_code=' + uuid + '&school_code=' + school_id;
                fetch('/delete_student' + queryString, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({"student_num": studentNumber})
                }).then(response => response.json())
                    .then(response => {
                        alert(response.message);
                    })
            }

        }

        function addStudent() {
            let studentNumber = prompt("추가할 학생의 학번을 입력해주세요");
            let studentName = prompt("추가할 학생의 이름을 입력해주세요");
            const queryString = '?mentor_code=' + uuid + '&school_code=' + school_id;
                fetch('/add_student' + queryString, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({"student_num": studentNumber, "student_name": studentName})
                }).then(response => response.json())
                    .then(response => {
                        alert(response.message);
                        window.location.reload();
                    })
        }

        document.addEventListener('input', function (event) {
            if (event.target.id === 'self-eval-rev') {
                document.getElementById('totalCharMentor').innerText = event.target.value.length;
            }
        })
        // Initial fetch when the page loads (you may want to call this with a specific mentor value)
        fetchSchools();
    </script>
</body>
</html>
