<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Editor</title>
    <style>
    body {
        font-family: Arial, sans-serif;
    }

    button {
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
    }

    .cell {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        overflow: hidden; /* Fix for button visibility */
        position: relative;
    }

    .cell button {
        position: absolute;
        top: 5px;
    }

    .cell #removeButton {
        right: 5px;
    }

    .cell #upButton {
        right: 125px; /* Adjust the spacing between buttons */
    }

    .cell #downButton {
        right: 55px; /* Adjust the spacing between buttons */
    }

    .cell #pasteButton {
        right: 175px; /* Adjust the spacing between buttons */
    }

    .cell img {
        max-width: 100%;
        max-height: 150px;
        display: block;
        margin-top: 10px;
    }

    #editor {
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        height: 80vh;
        overflow-y: auto;
    }

    #editor button {
        margin: 5px;
    }

    #editor .cell {
        background-color: #fff;
    }

    #editor .cell:nth-child(even) {
        background-color: #f2f2f2;
    }

    input,
    textarea {
        font-family: Arial, sans-serif;
        font-size: 15px;
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    textarea {
        resize: vertical; /* Allow vertical resizing of textarea */
    }

    #guideline {
        width: 35%;
        height: 100%;
        padding: 10px;
        background-color: #f2f2f2;
        overflow: auto;
        float: left;
        text-align: center;
    }

    #main {
        width: 60%;
        height: 100%;
        flex-grow: 1;
        padding: 10px;
        overflow-y: auto;
        float: left;
    }

    #cellNumber {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
</style>


</head>
<body>
<button id="switchTypeButton" onclick="switchType()"> 자기활동평가서 열기 </button>
<div id="main">
    <div id="final-report">
    <strong>전체 글자 수(제목 제외) : <span id="totalChar"></span> 글자</strong>
<div id="editor"></div>

<div>
    <button onclick="createCell('h1')">I. / 수준 1</button>
    <button onclick="createCell('h2')">1. / 수준 2</button>
    <button onclick="createCell('h3')">가. / 수준 3</button>
    <button onclick="createCell('h4')">1) / 수준 4</button>
    <button onclick="createCell('h5')">가) / 수준 5</button>
    <button onclick="createCell('h6')">(1) / 수준 6</button>
    <button onclick="createCell('h7')">(가) / 수준 7</button>
    <button onclick="createCell('text')">+문단</button>
    <button onclick="createCell('image')">+이미지</button>
    <button onclick="createCell('ref')">+참고문헌</button>
</div>

<button onclick="submitReport()">최종보고서 저장하기</button>
    </div>

<div id="self-eval-div" style="display: none">
    <strong>전체 글자 수(공백 포함) : <span id="totalCharEval"></span> 글자</strong><br>
    <textarea id="self-eval" rows="10" cols="80" placeholder="자기활동평가서 작성 칸">
    </textarea><br>
    <button id="submitSelfEvalButton" onclick="submitEval()">자기활동평가서 저장하기</button>
    <br><br>
    <form id="fileForm" enctype="multipart/form-data">
        <input type="file" id="fileSubmission1" name="file1"><br>
        <input type="file" id="fileSubmission2" name="file2"><br>
        <input type="submit" id="fileSubmitButton" value="파일 제출하기">
    </form>
</div>
</div>

<div id="guideline">
<h1> 최종보고서 작성 가이드라인 </h1>
<p>1. 참조 문헌은 공신력 있는 자료로 작성할 것 (나무위키, 위키피디아 금지)</p>
<p>2. 조사한 내용 보고서에 복사 붙여넣기 금지(블로그 같은데서 퍼온거 그대로 쓰지 말기)</p>
<p>3. 문단의 맨앞에 띄어쓰기 입력 금지</p>
<p>4. 보고서의 모든 말투는 문어체로 통일하기 ('~다'로 끝나는 식으로 작성할 것)</p>
<p>5. 선행 연구 및 조사 부분은 본인의 해석을 무조건 작성하고, 조사한 내용을 바탕으로 우리의 주제와 비교해서 서술할 것</p>
<p>6. 제발 맞춤법 좀 지킬 것(모르겠으면 맞춤법 검사기 사용할 것)</p>
</div>
<script>
    let cells = [];
    let cellCounter = 0;
    let mentor_code = getQueryParam('mentor_code');
    let school_code = getQueryParam('school_code');
    let student_code = getQueryParam('student_code');
    let query_string = '?mentor_code=' + mentor_code + '&school_code=' + school_code + '&student_code=' + student_code;
    let isReport = true;
    let totalCharCounter = 0;

    document.getElementById("fileForm").action = '/file_submit' + query_string;
    document.getElementById("fileForm").method = 'POST'

    function updateTotalChar() {
        totalCharCounter = 0;
        cells.forEach(cell => {
           if (cell.id.split('_')[0] === 'text') {
               totalCharCounter += cell.querySelector("textarea").value.length;
           }
        });
        document.getElementById('totalChar').innerText = totalCharCounter;
    }

    function switchType() {
        if (isReport) {
            document.getElementById('final-report').style.display = 'none';
            document.getElementById('self-eval-div').style.display = 'block';
            document.getElementById('switchTypeButton').innerText = '최종보고서 열기'
            isReport = !isReport;
        } else {
            document.getElementById('final-report').style.display = 'block';
            document.getElementById('self-eval-div').style.display = 'none';
            document.getElementById('switchTypeButton').innerText = '자기활동평가서 열기'
            isReport = !isReport;
        }
    }

    function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

    function createCell(type, content, caption) {
        const editor = document.getElementById('editor');

        const cell = document.createElement('div');
        cell.id = type + '_' + Math.random().toString(36).substr(2, 9);
        cell.classList.add('cell');

        const cellNumber = document.createElement('span');
        cellNumber.textContent = '[' + (cells.length + 1) + '] ';
        cellNumber.id = 'cellNumber'
        cell.appendChild(cellNumber);

        const removeButton = document.createElement('button');
        removeButton.id = 'removeButton';
        removeButton.textContent = 'x';
        removeButton.onclick = function () {
            removeCell(cell);
        };

        const upButton = document.createElement('button');
        upButton.id = 'upButton';
        upButton.textContent = 'up';
        upButton.onclick = function () {
            moveCellUp(cell);
        };

        const downButton = document.createElement('button');
        downButton.id = 'downButton';
        downButton.textContent = 'down';
        downButton.onclick = function () {
            moveCellDown(cell);
        };
        const label = document.createElement('label');
        label.textContent = type + ' : ';

        const nl = document.createElement('span');
        nl.innerHTML = `<br>`;

        cell.appendChild(label);
        cell.appendChild(removeButton);
        cell.appendChild(upButton);
        cell.appendChild(downButton);
        cell.appendChild(nl);

        if (type === 'image') {
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = 'image/*';
            fileInput.addEventListener('change', function () {
                handleImageUpload(fileInput);
            });

            const pasteButton = document.createElement('button');
            pasteButton.id = 'pasteButton';
            pasteButton.textContent = 'Paste Image';
            pasteButton.onclick = function () {
                handlePasteImage(cell);
            };

            const imagePreview = document.createElement('img');
            imagePreview.style.display = 'none'; // Initially hide the preview

            const input = document.createElement('input');
            input.id = 'caption';
            input.type = 'text';
            input.placeholder = 'Enter text...';
            input.value = caption || '';

            cell.appendChild(fileInput);
            cell.appendChild(pasteButton);
            cell.appendChild(imagePreview);
            cell.appendChild(input);

            if (content) {
                cell.content = content;
                input.value = caption;
                imagePreview.src = content;
                imagePreview.style.display = 'block'; // Show the preview
            }

        } else if (type === 'text') {
            const input = document.createElement('textarea'); // Use textarea for long text
            input.placeholder = 'Enter text...';
            input.rows = 5; // Set the number of rows as needed
            input.cols = 78;
            input.value = content || '';

            input.addEventListener('input', function () {
                updateCharCount(cell, input);
                updateTotalChar();
            });
            input.addEventListener('keydown', function (event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault();
                    createCell('text'); // Create a new text cell on Enter key press
                }
            });

            setTimeout(() => {
                input.focus();
            }, 10);

            const charCount = document.createElement('span');
            charCount.id = 'charCount';
            charCount.textContent = input.value.length + ' 글자';
            cell.appendChild(input);
            cell.appendChild(charCount);

        } else if (type === "ref") {
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Enter text...';
            input.value = content || '';
            input.size = 100;
            input.addEventListener('keydown', function (event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault();
                    createCell('ref'); // Create a new text cell on Enter key press
                }
            });
            setTimeout(() => {
                input.focus();
            }, 10);
            cell.appendChild(input);
        } else {
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Enter text...';
            input.value = content || '';
            input.addEventListener('keydown', function (event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault();
                    createCell('text'); // Create a new text cell on Enter key press
                }
            });
            cell.appendChild(input);
        }

        editor.appendChild(cell);
        cells.push(cell);
        updateEditor();
    }

    function removeCell(cell) {
        const index = cells.indexOf(cell);
        if (index !== -1) {
            cells.splice(index, 1);
            updateCellNumbers();
            cell.remove();
            updateEditor();
            updateTotalChar();
        }
    }

    function updateCellNumbers() {
    cells.forEach(function (cell, index) {
        const cellNumber = cell.querySelector('span');
        if (cellNumber) {
            cellNumber.textContent = '[' + (index + 1) + ']';
        }
    });
}

    function moveCellUp(cell) {
        const index = cells.indexOf(cell);
        if (index > 0) {
            const temp = cells[index];
            cells[index] = cells[index - 1];
            cells[index - 1] = temp;

            updateEditor();
        }
    }

    function moveCellDown(cell) {
        const index = cells.indexOf(cell);
        if (index < cells.length - 1) {
            const temp = cells[index];
            cells[index] = cells[index + 1];
            cells[index + 1] = temp;

            updateEditor();
        }
    }

    function handleImageUpload(fileInput) {
    const cell = fileInput.closest('.cell');
    const imagePreview = cell.querySelector('img');

    const file = fileInput.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
            const imageDataUrl = e.target.result;

            // Store the original base64 string in a data attribute
            cell.content = imageDataUrl

            displayImagePreview(imagePreview, imageDataUrl);
            updateEditor();
        };
        reader.readAsDataURL(file);
    }
}

function handlePasteImage(cell) {
    document.onpaste = function (pasteEvent) {
        // Check if clipboard data contains items
        if (pasteEvent.clipboardData && pasteEvent.clipboardData.items) {
            // Consider the first item
            var item = pasteEvent.clipboardData.items[0];

            if (item.type.indexOf("image") === 0) {
                // Get the image blob
                var blob = item.getAsFile();

                // Create a FileReader
                var reader = new FileReader();

                // Set the onload event handler
                reader.onload = function (event) {
                    // Get the data URL of the image
                    let imageDataUrl = event.target.result;

                    // Store the original base64 string in a data attribute
                    cell.content = imageDataUrl;

                    // Get the image preview element
                    const imagePreview = cell.querySelector('img');

                    // Display the image preview
                    displayImagePreview(imagePreview, imageDataUrl);

                    // Update the editor
                    updateEditor();
                };

                // Read the blob as a data URL
                reader.readAsDataURL(blob);
            }
        }
    };
}

    function displayImagePreview(imagePreview, imageDataUrl) {
        imagePreview.src = imageDataUrl;
        imagePreview.style.display = 'block'; // Show the preview
    }

    function updateEditor() {
        const editor = document.getElementById('editor');
        // Clear the editor
        editor.innerHTML = '';
        // Rebuild the editor content based on the updated order
        cells.forEach(function (cell) {
            editor.appendChild(cell);
        });
        updateTotalChar();
    }


    function updateCharCount(cell, input) {
        const charCount = cell.querySelector('#charCount');
        charCount.textContent = input.value.length + ' 글자';
    }

function submitReport() {

        const data = {
            type: "report",
            total_char: totalCharCounter,
            contents: []
        };

        cells.forEach(function (cell) {
            const type = cell.id.split('_')[0];

            if (type === 'image') {
                const caption_box = cell.querySelector('#caption');
                const caption = caption_box ? caption_box.value : '';
                const content = cell.content || '';
                console.log(caption);
                data.contents.push({
                    type: type,
                    content: content,
                    caption: caption
                });
            } else if (type === 'text') {
                const input = cell.querySelector('textarea'); // Update to 'textarea'
                const content = input ? input.value : ''; // Check if input is not null
                data.contents.push({
                    type: type,
                    content: content
                });
            } else {
                const input = cell.querySelector('input');
                const content = input ? input.value : '';
                data.contents.push({
                    type: type,
                    content: content
                });
            }
        });

        fetch('/final_report' + query_string, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
        ).then(response => response.json())
            .then(response => {
                alert('최종보고서 저장 완료!');
                window.location.reload();
    })
}

    function loadJson() {
        fetch('/final_report' + query_string, {
                method: 'GET'
            }
        ).then(response => response.json())
            .then(data => {
                data.contents.forEach(function (content) {
                    if (content.type === 'image') {
                        createCell(content.type, content.content, content.caption);
                    } else {
                        createCell(content.type, content.content);
                    }
                })
                document.getElementById('self-eval').value = data.eval;
                document.getElementById('totalCharEval').innerText = data.eval.length;
            })
    }

    function submitEval() {
        let text = document.getElementById('self-eval').value;
        const data = {
            'type': 'eval',
            'content': text
        }
        fetch('/final_report' + query_string, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
        ).then(response => response.json())
            .then(response => {
                alert('자기활동평가서 저장 완료!');
                window.location.reload();
    })

    }

    function clearEditor() {
        const editor = document.getElementById('editor');
        editor.innerHTML = '';
        cells = [];
    }

    document.addEventListener('input', function (event) {
        const target = event.target;

        if (target.tagName.toLowerCase() === 'textarea') {
            adjustTextareaHeight(target);
        }
        if (target.id === 'self-eval') {
            document.getElementById('totalCharEval').innerText = target.value.length;
        }
    });

    function adjustTextareaHeight(textarea) {
        textarea.style.height = 'auto'; // Reset height to auto
        textarea.style.height = (textarea.scrollHeight + 2) + 'px'; // Set the height based on content
    }

    document.getElementById('fileForm').addEventListener('submit', function (event) {
        event.preventDefault();
            fetch(event.target.action, {
                method: 'POST',
                body: new FormData(event.target)
            }).then(response => response.json())
            .then(response => {
                alert(response.message);
        })
    })
    loadJson();


</script>

</body>
</html>
