<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Paste our image here…</p>
<img id="container"/>
</body>
<script>
  document.onpaste = function(pasteEvent) {
    // 첫 번째 항목을 고려합니다(여러 항목에 대해 쉽게 확장할 수 있음)
    var item = pasteEvent.clipboardData.items[0];

    if (item.type.indexOf("image") === 0)
    {
        var blob = item.getAsFile();
        var reader = new FileReader();
        reader.onload = function(event) {
            let dataURL = event.target.result;
            let img = document.getElementById("container");
            img.src = dataURL;
        };

        reader.readAsDataURL(blob);
    }
}
</script>
</html>